@import '../utils/main.utils.scss';
.header {
    .header-content__wrap {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 100;
        height: 100px;
        background-color: $COLOR__WHITE;
        border-bottom: 1px solid #0000000f;
        @include flex(row, space-around, center);
        .container {
            max-width: 1000px;
            margin: 0px;
            @include flex(row, center, center);
        }
        .lan-wrap {
            padding: 5px 7px;
            border-radius: 15px;
            background-color: $COLOR__ORANGE;
            cursor: pointer;
            select {
                color: $COLOR__WHITE;
                background-color: inherit;
                option {
                    background-color: $COLOR__ORANGE;
                }
            }
        }
    }
    .phone-wrap {
        @include font(13px, 300, 12px, $COLOR__BLACK);
        i {
            margin-right: 5px;
        }
        a {
            position: relative;
            color: $COLOR__BLACK;
        }
        &:hover {
            a,
            i {
                color: $COLOR__ORANGE;
            }
        }
    }
}

.logo-wrap {
    margin: 0px 80px;
    .logo {}
}

nav {
    .nav-list {
        @include flex(row, null, center);
        .nav-item {
            margin: 0px 30px;
            a {
                position: relative;
                @include font(15px, 400, 15px, $COLOR__BLACK);
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    transform: translate(-50%) scale(0, 1);
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: $COLOR__BLUE;
                    transition: .3s;
                }
                &:hover {
                    color: $COLOR__BLUE;
                    &::before {
                        transform: translate(-50%) scale(1, 1);
                    }
                }
            }
        }
    }
}