@import '../utils/main.utils.scss';
.header {
    height: 100vh;
    position: relative;
}

// header-bg
.bg-header__wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    .bg-header {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        width: 120%;
        height: 170%;
        background-color: #01A1DF;
    }
}

// header-top
.header-top {
    padding: 2vh 30px;
    @include flex(row, space-between, center);
    .phone-btn__wrap {
        //width: 55px;
        .phone {
            width: 4.5vh;
            height: 4.5vh;
            border-radius: 50%;
            background-color: #FF6939;
            color: #fff;
            @include flex(row, center, center);
            i {
                font-size: 1.8vh;
            }
        }
    }
    .navigation {
        width: 60%;
        .navigation-list {
            @include flex(row, space-between, center);
            .navigation-item {
                min-width: 40%;
                a {
                    margin: 5%;
                    position: relative;
                    font-family: 'Montserrat';
                    @include font(1.8vh, 400, 15px, #fff);
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        transform: translateX(-50%) scale(0, 1);
                        height: 2px;
                        width: 100%;
                        border-radius: 2px;
                        background-color: #fff;
                        transition: .5s;
                    }
                    &:hover {
                        &:before {
                            transform: translateX(-50%) scale(1, 1);
                        }
                    }
                }
                &:first-child {
                    text-align: end;
                }
                &:last-child {
                    text-align: start;
                }
            }
            .navigation-item.logo-wrap {
                position: relative;
                min-width: auto;
                width: 10.1vh;
                height: 10.1vh;
                border-radius: 50%;
                background-color: #fff;
                .logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &::before {
                        display: none;
                    }
                    svg {
                        width: 6.5vh;
                    }
                }
            }
        }
    }
    #lang-btn {
        width: 4.5vh;
        height: 4.5vh;
        background-color: #FF6939;
        border-radius: 50%;
        @include font(1.7vh, 700, 1.8vh, #fff);
        @include flex(row, center, center);
    }
}

// header-main
.header-main {
    position: relative;
    .container {
        padding-top: 2%;
        @include flex(column, null, center);
        .header-title {
            text-align: center;
            @include font(6.4vh, 700, 6.4vh, #fff);
        }
        .header-text {
            margin-top: 20px;
            max-width: 55%;
            text-align: center;
            @include font(2.3vh, 300, 2.3vh, #fff);
        }
    }
    .container-map__washing-machine {
        position: absolute;
        top: 108%;
        left: 50%;
        transform: translateX(-50%);
    }
}