@import '../utils/main.utils.scss';
.malfunctions {
    position: relative;
    background-color: #01A1DF;
    .h2 {
        color: #fff;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex(row, center, center);
    }
}

// swiper
.swiper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
}

.swiper-slide {
    text-align: center;
    button {
        background-color: transparent;
        text-align: center;
        @include font(3vh, 700, 3vh, #fff);
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
    width: 13vh;
    height: 13vh;
    background-color: #0096D0;
    border-radius: 50%;
    transition: .5s;
    &::after {
        color: white;
        font-size: 3vh;
    }
    &:hover {
        background-color: #0080b3;
    }
}

.swiper-button-prev {
    left: 5%;
}

.swiper-button-next {
    right: 5%;
}

// malfunctions-washing-machine
.malfunctions-washing-machine__wrapp {
    position: relative;
    width: 35vh;
    height: 44vh;
    @include flex(column, flex-start, center);
    .malfunctions-washing-machine__header {
        padding: 0 4%;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 21%;
        background-color: #D7DEED;
        border-radius: 10px 10px 0 0;
        @include flex(row, space-between, center);
        .malfunctions-washing-machine__header-bg-center {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 6.6vh;
            height: 7.6vh;
            background-color: #AFB9D2;
            border-radius: 0px 0px 47% 47%;
        }
        .malfunctions-washing-machine__box {
            position: relative;
            width: 31%;
            height: 66%;
            background-color: #C7CFE2;
            border-radius: 8%;
            .malfunctions-washing-machine__box-handle {
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 55%;
                height: 25%;
                background-color: #AFB9D2;
                border-radius: 8% 8% 0px 0px;
            }
        }
        .malfunctions-washing-machine__button-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            width: 3vh;
            height: 3vh;
            background-color: #707487;
            border-radius: 50%;
            @include flex(row, center, center);
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                @include font(1.5vh, null, null, #FF6939);
            }
        }
        .malfunctions-washing-machine__buttons-list {
            @include flex(row, flex-end, center);
            .malfunctions-washing-machine__buttons-item {
                &:nth-child(1) {
                    button {
                        background-color: #fff;
                    }
                }
                &:nth-child(2) {
                    margin: 0 25%;
                    button {
                        background-color: #FFB600;
                    }
                }
                &:nth-child(3) {
                    button {
                        background-color: #E4EAF6;
                    }
                }
                button {
                    width: 1.6vh;
                    height: 3vh;
                    border-radius: 21%;
                }
            }
        }
    }
    .malfunctions-washing-machine__main {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 75%;
        background-color: #E4EAF6;
        border-radius: 0 0 10px 10px;
        @include flex(row, center, center);
        .malfunctions-washing-machine-drum__back-bg {
            position: relative;
            width: 23vh;
            height: 23vh;
            border-radius: 50%;
            background-color: #C7CFE2;
            @include flex(row, center, center);
            .malfunctions-washing-machine-drum-water__wrap {
                width: 17vh;
                height: 17vh;
                border-radius: 50%;
                overflow: hidden;
                background-color: transparent;
                .malfunctions-washing-machine-drum-water {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: #01A1DF;
                    svg {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }
            }
            .malfunctions-washing-machine-drum__handle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                width: 20vh;
                height: 20vh;
                background: url('../../img/hundle.svg') no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    .malfunctions-washing-machine__footer {
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 5%;
        @include flex(row,
        space-between,
        null);
        .malfunctions-washing-machine__foot-left,
        .malfunctions-washing-machine__foot-right {
            width: 10%;
            height: 81%;
            background-color: #AFB9D2;
            border-radius: 0px 0px 20% 20%;
        }
    }
}