@import '../utils/main.utils.scss';
.why-we {
    overflow: visible !important;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.why-we__list {
    @include flex(row, space-between, flex-start);
    .why-we__item {
        @include flex(column, center, center);
        svg {
            width: 21vh;
        }
        .wrap-img {
            width: 38vh;
            height: 38vh;
            border-radius: 50%;
            @include flex(row, center, center);
        }
        .wrap-img__yellow {
            background-color: #FFB600;
        }
        .wrap-img__blue {
            position: relative;
        }
        .wrap-img__orange {
            background-color: #FF6939;
        }
        .h3 {
            margin-top: 6%;
            text-align: center;
            @include font(3.2vh, 700, 3.2vh, #000);
        }
    }
}

// mobile 

/* @media screen and (max-width: 1000px) {
    .why-we__list {
        @include flex(column, null, center);
    }
} */