@import '../utils/main.utils.scss';
.why-we {
    overflow: visible !important;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.why-we__list {
    @include flex(row, space-between, flex-start);
    .why-we__item {
        @include flex(column, center, center);
        .wrap-img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            @include flex(row, center, center);
        }
        .wrap-img__yellow {
            background-color: #FFB600;
        }
        .wrap-img__blue {
            position: relative;
        }
        .wrap-img__orange {
            background-color: #FF6939;
        }
        .h3 {
            margin-top: 20px;
            text-align: center;
            @include font(25px, 700, 25px, #000);
        }
    }
}