section.bg-fixed
    i.bx.bxs-hourglass-bottom(value="5")
    i.bx.bxs-brightness(value="-5")
    i.bx.bxs-up-arrow(value="6")
    i.bx.bxs-time(value="-5")
    i.bx.bxs-briefcase-alt-2(value="5")
    i.bx.bxs-dryer(value="-6")
    i.bx.bxs-calendar(value="5")
    i.bx.bxs-check-shield(value="-6")
    i.bx.bx-power-off(value="6")
    i.bx.bxs-washer(value="-5")
    i.bx.bx-chip(value="5")
    i.bx.bxs-cog(value="-6")