section.brands.section
    .container
        ul.brands-list
            li.brands-item
                include ../../img/bosch.svg
            li.brands-item
                include ../../img/candy.svg
            li.brands-item
                include ../../img/electrolux.svg
            li.brands-item
                include ../../img/gorenje.svg
            li.brands-item
                include ../../img/indesit.svg
            li.brands-item
                include ../../img/samsung.svg