header.header
    .bg-header__wrap
        .bg-header
    .header-top
        .phone-btn__wrap
            a(href="tel:0508005277").phone
                i.fa-solid.fa-phone
        nav.navigation
            ul.navigation-list 
                li.navigation-item
                    a(href="/" data-lan="nav-why-we")#why-we.lan Чому ми?
                    a(href="/" data-lan="nav-malfunctions")#malfunctions.lan Несправності
                li.navigation-item.logo-wrap
                    a(href="/").logo
                        include ../../img/logo.svg
                li.navigation-item
                    a(href="/" data-lan="nav-price")#price.lan Прайс
                    a(href="/" data-lan="nav-contact")#contact.lan Контакти
        button(data-language="uk")#lang-btn Укр
    .header-main 
        .container 
            h1.header-title.lan(data-lan="header-title") Ремонт пральних машин <br> з виїздом додому
            p.header-text.lan(data-lan="header-text") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, totam voluptas! Provident aspernatur officiis illum velit dignissimos distinctio unde nostrum libero, ratione modi neque quibusdam placeat consectetur similique fugiat tempore.
        .container-map__washing-machine