header.header
    .header-top
        .phone-wrap
            i.fa-solid.fa-phone
            a(href="tel:+380508005277") +380508005277
        .container 
            nav
                ul.nav-list 
                    li.nav-item
                        a(href="#") Майстри
                    li.nav-item 
                        a(href="#") Прайс
            .logo-wrap 
                a(href="/").logo
                    include ../../img/logo.svg
            nav 
                ul.nav-list 
                    li.nav-item
                        a(href="#") Питання
                    li.nav-item
                        a(href="#") Контакти
        .lan-wrap 
            select(name="select")
                option(value="uk" selected) Укр
                option(value="ru") Рус
    .header-main
        i.bx.bxs-hourglass-bottom(value="3")
        i.bx.bxs-brightness(value="-3")
        i.bx.bxs-up-arrow(value="3")
        i.bx.bxs-time(value="-3")
        i.bx.bxs-briefcase-alt-2(value="3")
        i.bx.bxs-dryer(value="-3")
        i.bx.bxs-calendar(value="3")
        i.bx.bxs-check-shield(value="-3")
        i.bx.bx-power-off(value="3")
        i.bx.bxs-washer(value="-3")
        i.bx.bx-chip(value="3")
        i.bx.bxs-cog(value="-3")
        .container 
            h1.header-title Ремонт пральних машин <br> з виїздом додому
            p.header-text Головне в ремонті - раціональність, надійність і вигідність
            a(href="#")#btn-order Замовити послугу