header.header
    .header-top
        .phone-wrap
            i.fa-solid.fa-phone
            a(href="tel:+380508005277") +380508005277
        .container 
            nav
                ul.nav-list 
                    li.nav-item
                        a(href="#") Майстри
                    li.nav-item 
                        a(href="#") Прайс
            .logo-wrap 
                a(href="/").logo
                    include ../../img/logo.svg
            nav 
                ul.nav-list 
                    li.nav-item
                        a(href="#") Питання
                    li.nav-item
                        a(href="#") Контакти
        .lan-wrap 
            select(name="select")
                option(value="uk" selected) Укр
                option(value="ru") Рус
    .header-main
        i.bx.bxs-hourglass-bottom
        i.bx.bxs-brightness
        i.bx.bxs-up-arrow
        i.bx.bxs-time
        i.bx.bxs-briefcase-alt-2
        i.bx.bxs-dryer
        i.bx.bxs-calendar
        i.bx.bxs-check-shield
        i.bx.bx-power-off
        i.bx.bxs-washer
        i.bx.bx-chip
        i.bx.bxs-cog
        .container 
            h1.header-title Ремонт пральних машин <br> з виїздом додому
            p.header-text Головне в ремонті - раціональність, надійність і вигідність
            a(href="#")#btn-order Замовити послугу