section.section-masters 
    .container 
        ul.caed-list 
            li.card-item
                .card-avatar__wrap 
                    img(src="" alt="avatar")
                .card-info__wrap 
                    ul.master-info__list 
                        li.master-info__list
                        li.master-info__list
                        li.master-info__list
                        li.master-info__list
            li.card-item
                .card-avatar__wrap 
                    img(src="" alt="avatar")
                .card-info__wrap 
                    ul.master-info__list 
                        li.master-info__list
                        li.master-info__list
                        li.master-info__list
                        li.master-info__list