section.price.section
    h2.h2(data-lan="price-title").lan Прайс
    .container
        ul.price__list
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно
            li.price__item
                span.service-name Виклик майстра додому
                .points
                span.service-price Безкоштовно