section.start-page  
    .container 
        h1.sp-title Ремонт пральних машин <br> з виїздом додому
        p.sp-text Головне в ремонті - раціональність, надійність і вигідність
        a(href="#")#btn-order Замовити послугу