.washing-machine__container
    .washing-machine__bg
    .washing-machine__top-panel
        .display
        ul.washing-machine__btns-list
            li.washing-machine__btns-item
                button.washing-machine__btn
            li.washing-machine__btns-item
                button.washing-machine__btn
            li.washing-machine__btns-item
                button.washing-machine__btn
    .washing-machine__drum-wrap
        .washing-machine__drum
            .washing-machine__handle
            .washing-machine__water
                .washing-machine__water-bg
            include ../../img/decor-water.svg