section.why-we.section
    h2.h2.lan(data-lan="why-we-title") Чому ми?
    .container
        ul.why-we__list
            li.why-we__item
                .wrap-img.wrap-img__yellow
                    include ../../img/map.svg
                h3.h3.lan(data-lan="why-we-item1") Прийом викликів у всі <br> райони Києва
            li.why-we__item
                .wrap-img.wrap-img__blue
                    .washing-machine__container
                        include ../../img/washing-machine.svg
                h3.h3.lan(data-lan="why-we-item2") Ремонтуємо пральні <br> машини всіх видів та марок
            li.why-we__item
                .wrap-img.wrap-img__orange
                    include ../../img/guarantee.svg
                h3.h3.lan(data-lan="why-we-item3") Гарантія 1 рік