@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font($fz, $fw, $lh, $cl) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: $cl;
}

@mixin bx-sett($bm, $lf, $rg, $fz) {
    bottom: $bm;
    left: $lf;
    right: $rg;
    font-size: $fz;
}

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}